extends layout

block content
  .row
    .large-12.columns
      h1 About MyCommunity
  .row
    .large-12.columns 
      p MyCommunity is an application for interacting with your local community. Here you can easily report local problems to the council, discover nearby events or create your own, or find facilities.

  .row
    .large-12.columns
      h3 Contact Team Tesseract
    .large-12.columns 
      p Ben Petito <a href="http://twitter.com/benpetito/">@benpetito</a>
      p James Fraser <a href="http://twitter.com/wulfgarpro">@wulfgarpro</a>
      p Mat Forest <a href="http://twitter.com/binary_beard">@binary_beard</a>
      