extends layout

block styles
  link(rel="stylesheet", href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.css")
  | <!--[if lte IE 8]><link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.ie.css" /><![endif]-->

block content
  .pitch
    .row
      .small-12
        h1 #{constants.title}
        h3.subheader #{constants.subtitle}
  hr

  .pitch
    .row
      .small-12.large-12.columns
        #map
        //img(src='holder.js/480x600')
  hr

block scriptsAfter
  script(type='text/javascript', src='javascripts/vendor/holder.js')
  script(type='text/javascript', src='http://cdn.leafletjs.com/leaflet-0.5/leaflet.js')
  script(type='text/javascript', src='javascripts/main.js')
