extends layout

block styles
  link(rel="stylesheet", href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.css")
  | <!--[if lte IE 8]><link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.ie.css" /><![endif]-->
  link(rel="stylesheet", href="/stylesheets/datepicker/default.css")
  link(rel="stylesheet", href="/stylesheets/datepicker/default.date.css")

block content
  .text-center
    h1(style="display: inline") #{constants.title}
    h3(style="display: inline; padding-left: 10px").subheader #{constants.subtitle}
  hr

  section#mode_section
    #mode.section-container.vertical-tabs(data-section="vertical-tabs")
      section.find
        p.title(data-section-title)
          a Discover 
        .content(data-section-content)
          h4.subheader Discover a facility in the local community
          #form-create
            form(method="POST", action="")
              .row
                label(for="Facility") Facility:
                a.button.dropdown(data-dropdown="facilities") Facility
                  ul#facilities.f-dropdown
                    li test
                    li test 2
                    li ...
                .row
                  .large-3.columns
                    label(for="Council") Council:                
                    input(type="text", name="council", required="required")
                  .large-9.columns
                    label(for="within") Within:
                    a.small.dropdown.button(data-dropdown="within") Within
                      ul#within.f-dropdown(data-dropdown-content)
                        li 10km
                        li 20km
                        li ...
      section.create
        p.title(data-section-title)
          a Create
        .content(data-section-content)
          h4.subheader Create an event in the local community
          #form-create
            form(method="POST", action="/createevent")
              .row
                .large-5.columns
                  label(for="Name") Event Name:
                  input(type="text", name="name", required="required")
                .large-3.columns
                  label(for='Date') Event Date:
                  input.datepicker(type="text", name="date", required="required")
                .large-4.columns
              .row
                .large-10.columns
                  label(for="desc") Event Description:
                  textarea(name="desc", required="required", rows="3")
              .row
                .large-4.columns
                  label(for='creator') Your Name:
                  input(type='text', name='creator')
              .row
                .large-3.columns
                  input(type="hidden", name="lat", value="-34.5")
                  input(type="hidden", name="lng", value="138.5")
                  input(type="hidden", name="creator", value="joe.b@example.com")
                  input(type="hidden", name="location_type", value="custom")
                  input(type="hidden", name="fid", value="-1")
                  input.button(type="submit", value="Create Event")
      section.report
        p.title(data-section-title)
          a Report
        .content(data-section-content)
          h4.subheader Submit a Fault Report to the Council
          #form-report
            form(method="POST", action="/createreport")
              .row
                .large-5.columns
                  label(for="faulttype") Fault Type:
                  select(name='faulttype')
                    option(value='street sign') Street Sign
                    option(value='graffiti') Graffiti
              .row
                .large-10.small-12.columns
                  label(for="desc") Fault Description:
                  textarea(name="desc", required="required", rows="3")
              .row
                .large-4.columns
                  label(for='name') Your Name:
                  input(type='text', name='name')
                .large-4.columns
                  label(for='email') Email address:
                  input(type='email', name='email')
                .large-4.columns
                  label(for='notify') Notify me when fixed:
                  input(type='checkbox', name='notify')
              .row
                .large-6.columns
                  label(for='lga') Submitting to:
                  input(type='text', name='submitto', disabled='disabled')
              .row
                .large-3.columns
                  input(type="hidden", name="lat", value="-34.5")
                  input(type="hidden", name="lng", value="138.5")
                  input(type="hidden", name="fid")
                  input.button(type="submit", value="Submit Fault")

    hr

  section#map_section
    #map
  hr

  section#details_section
    h3 Details
    .row
      #details
    hr

block scriptsAfter
  script(type='text/javascript', src='http://cdn.leafletjs.com/leaflet-0.5/leaflet.js')
  script(type='text/javascript', src='javascripts/vendor/picker.js', defer='defer')
  script(type='text/javascript', src='javascripts/vendor/picker.date.js', defer='defer')
  script(type='text/javascript', src='javascripts/main.js')
