extends layout

block styles
  link(rel="stylesheet", href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.css")
  | <!--[if lte IE 8]><link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.ie.css" /><![endif]-->
  link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/chosen/0.9.14/chosen.css")

block content
  .text-center
    h1(style="display: inline") #{constants.title}
    h3(style="display: inline; padding-left: 10px").subheader #{constants.subtitle}
  hr

  select#featureSearch(data-placeholder="Select desired features", multiple="multiple")
    option(value="playground") Playground
    option(value="library") Library

  #map
  hr

block scriptsAfter
  script(type='text/javascript', src='http://cdn.leafletjs.com/leaflet-0.5/leaflet.js')
  script(type='text/javascript', src='javascripts/main.js')
  script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/chosen/0.9.14/chosen.jquery.min.js')
  script
    $("#featureSearch").chosen();