extends layout

block styles
  link(rel="stylesheet", href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.css")
  | <!--[if lte IE 8]><link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.ie.css" /><![endif]-->

block content
  .text-center
    h1(style="display: inline") #{constants.title}
    h3(style="display: inline; padding-left: 10px").subheader #{constants.subtitle}
  hr

  section#mode_section
    #mode.section-container.vertical-tabs(data-section="vertical-tabs")
      section.find
        p.title(data-section-title)
          a Find
        .content(data-section-content)
          p Content for find
      section.create
        p.title(data-section-title)
          a Create
        .content(data-section-content)
          p content for create event
          #form-create
            form(method="POST", action="/createevent")
              .row
                .large-4.columns
                  label(for="Name") Event Name:
                  input(type="text", name="name", required="required")
              .row
                .large-4.columns
                  label(for="desc") Event Description:
                  input(type="text", name="desc", required="required")
              .row
                .large-3.columns
                  input(type="hidden", name="lat", value="-34.5")
                  input(type="hidden", name="lng", value="138.5")
                  input(type="hidden", name="creator", value="joe.b@example.com")
                  input(type="hidden", name="location_type", value="custom")
                  input(type="hidden", name="fid", value="-1")
                  input(type="submit", value="Create Event")
      section.report
        p.title(data-section-title)
          a Report
        .content(data-section-content)
          p content for report
          #form-report
            form(method="POST", action="/submitfault")
              .row
                .large-4.columns
                  label(for="Name") Event Name:
                  input(type="text", name="name", required="required")
              .row
                .large-3.columns
                  input(type="hidden", name="lat", value="-34.5")
                  input(type="hidden", name="lng", value="138.5")
                  input(type="submit", value="Submit Fault")

    hr

  section#map_section
    #map
  hr

  section#details_section
    h3 Details
    #details
    hr

block scriptsAfter
  script(type='text/javascript', src='http://cdn.leafletjs.com/leaflet-0.5/leaflet.js')
  script(type='text/javascript', src='javascripts/main.js')
