doctype 5
| <!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
| <!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width')
  title #{constants.title} - #{constants.subtitle}
  link(rel='stylesheet', href='/stylesheets/foundation/4.1.5/normalize.css')
  link(rel='stylesheet', href='/stylesheets/foundation/4.1.5/foundation.min.css')
  link(rel='stylesheet', href='/stylesheets/style.css')
  block styles

  script(type='text/javascript', src='/javascripts/vendor/custom.modernizr.js')
  block scriptsBefore

body
  include nav
  block content
  include foot

  script(type='text/javascript', src='javascripts/vendor/jquery.js')
  script(type='text/javascript', src='javascripts/vendor/foundation.min.js')
  script(type='text/javascript')
    $(document).foundation();

  block scriptsAfter